h1 {
  color : Blue;
  transform: rotate(180deg);
  padding: 10px;
  opacity: 0.5;
}
h2{
  text-decoration: underline
  transform: rotate(10deg);
  color: rgb(255, 0, 255);
  font-family: sans-serif;
  position: absolute;
}

li {
  margin: 5sp;
}
a {
  text-decoration: line-through;
}

p {
  font-size: 12sp;
  font-family: cursive;
}
